.aside-checkbox-label {
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(154, 187, 206, 1);
    border-radius: 2px;
    margin-right: 10px;
  }

  &:hover {
    background: #F1FCFF;
  }
}

.aside-checkbox {
  display: none;

  &:checked+.aside-checkbox-label::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "✔";
    color: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
  }
}